$uni-color-primary: var(--primary-6);
$uni-color-success: var(--success-6);
$uni-color-warning: var(--warning-6);
$uni-color-error: var(--danger-6);
$uni-color-info: var(--link-6);

$uni-text-color: var(--color-text-1);
$uni-text-color-grey: var(--color-text-2);
$uni-text-color-placeholder: var(--color-text-4);
$uni-text-color-disable: var(--color-text-4);

$uni-bg-color: var(--color-bg-2);
$uni-bg-color-grey: var(--color-bg-1);
$uni-border-color: var(--color-border-2);
